h1 { text-align: center; 
     font-variant: small-caps;}

h2 { margin-left: 65px; 
     margin-right: 65px;}

ul.main-menu {
    list-style-type: none;
    text-align: left;
    padding: 20px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 0px;
     margin-bottom: 0px;
     display: block;
     color: red;
     background-color: black;
     font-family: "Georgia", serif;
}
ul.main-menu>li {
    display: inline;
    padding: 20px;
}

ul.sub-menu {
    list-style-type: none;
    text-align: center;
    padding: 15px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 1px;
     margin-bottom: 1px;
     display: block;
     color: red;
     background-color: black;
     font-family: "Georgia", serif;
}
ul.sub-menu>li {
    display: inline;
    padding: 20px;
}


a:link {color:white;}
a:visited {color: white;}
a:hover {color: red;}

p {  margin-left: 80px;
     margin-right: 30px;
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

footer {margin-left: 65px;}
