h1 { text-align: center; 
     font-variant: small-caps;
     border-style: outset;
     border-color: white white black white;
     border-width: 1;
     width: 50%;
     margin-right: auto;
     margin-left: auto}

h2 { margin-top:  5px;
     margin-left: 5px; 
     margin-right: 65px;
     color: white;}

div { background-color: black;
     height: 40px;
     border-style: solid;
     border-width: 1px thin medium thin;
     border-color: black black red black;
     margin-top: 20px;
     margin-right: 60px;
     margin-left: 60px;}
.image{text-align: center;
     height:800px;
     inline-block;
     border-style: none;
     background-color: white;}

ul.main-menu {
    list-style-type: none;
    text-align: center;
     padding: 20px;
     width: 95%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0px;
     margin-bottom: 0px;
     display: block;
     color: red;
     background-color: black;
     font-family: "Georgia", serif;
}
ul.main-menu>li {
    display: inline-block;
     text-align: center;
     width: 15%;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     margin-bottom: auto;
}

ul.sub-menu {
    list-style-type: none;
    text-align: center;
    padding: 15px;
     margin-left: 60px;
     margin-right: 60px;
     margin-top: 0px;
     margin-bottom: 1px;
     display: block;
     color: red;
     background-color: black;
     font-family: "Georgia", serif;
     border-style: solid;
     border-width: 1px 0px 0px 0px;
     border-color: red;
}
ul.sub-menu>li {
    display: inline-block;
     text-align: center;
     width: 15%;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     margin-bottom: auto;
}

a:link {color:white;}
a:visited {color: white;}
a:hover {color: red;}

a.web:link {color:black}
a.web:visited {color: black;}
a.web:hover {color: red;}

p {  margin-left: 80px;
     margin-right: 80px;
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

footer { width: 95%;
         margin-left: auto;
         margin-right: auto;
         color: white;
         border-style: solid;
         border-width: thin thin thin medium;
         border-color: black black black red;
         margin-top: 20px;
         background-color: black;
         padding: 3px;}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table { margin: 0 auto; }

th { text-align: center; 
     background-color: black;
     color: white;}

img {display: block;
   	margin-left: auto;
     margin-right: auto;
     align: center;}
img.logo{display: inline;
   	margin-left: auto;
     margin-right: auto;
     align: center;}

iframe { display: block;
     margin-left: auto;
     margin-right: auto;
     align: center;}
