h1 { text-align: center; 
     font-variant: small-caps;
     border-style: outset;
     border-color: white white black white;
     border-width: 1;
     width: 50%;
     margin-right: auto;
     margin-left: auto}

h2 { margin-top:  5px;
     margin-left: 5px; 
     margin-right: 65px;
     color: white;}

div { background-color: black;
     height: 40px;
     border-style: solid;
     border-width: 1px thin medium thin;
     border-color: black black red black;
     margin-top: 20px;
     margin-right: 60px;
     margin-left: 60px;}

ul.main-menu {
    list-style-type: none;
    text-align: center;
    padding: 20px;
     margin-left: 40px;
     margin-right: 40px;
     margin-top: 0px;
     margin-bottom: 0px;
     display: block;
     color: red;
     background-color: black;
     font-family: "Georgia", serif;
}
ul.main-menu>li {
    display: inline;
    padding: 20px;
}

ul.sub-menu {
    list-style-type: none;
    text-align: center;
    padding: 15px;
     margin-left: 60px;
     margin-right: 60px;
     margin-top: 0px;
     margin-bottom: 1px;
     display: block;
     color: red;
     background-color: black;
     font-family: "Georgia", serif;
     border-style: solid;
     border-width: 1px 0px 0px 0px;
     border-color: red;
}
ul.sub-menu>li {
    display: inline;
    padding: 20px;
}

a:link {color:white;}
a:visited {color: white;}
a:hover {color: red;}

p {  margin-left: 80px;
     margin-right: 30px;
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

img {margin-left: 80px;}

footer { margin-left: 65px;
         margin-right: 65px;
         color: white;
         border-style: solid;
         border-width: thin thin thin medium;
         border-color: black black black red;
         margin-top: 20px;
         background-color: black;}
